{{page-title "Login"}}
<div class="container-login">
    <form class="login">
      <label for="user">
        <input type="text" name="user" placeholder="Usuário" {{action 'changeUser' on="change"}} value={{this.user}}>
      </label>
      <lalbel>
        <input type="password" name="password" placeholder="Senha" id="" {{action 'changePass' on="change"}} value={{this.pass}}>
      </lalbel>
      <label for="submit">
        <input type="submit" name="submit" value="Entrar" {{action "submitLogin"}}>
      </label>
    </form>
</div>
{{this.application.userIsLogged}}

